:root {
    --primaryColor: rgb(135, 206, 235);
    --mainWhite: #ffffff;
    --mainBlack: #222222;
    --mainGrey: #ececec;
    --mainSpacing: .1rem;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: url(https://images.pexels.com/photos/132193/pexels-photo-132193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.button {
    background-color: #ffbbad;
    font-size: 1.5vw;
    padding: 10px;
    outline: none;
    border: none;
}

.logo {
    width: 12vw;
    z-index: 1;
}


/*-------------------------- Navbar -------------------------------------*/

.header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8d8bb;
    padding-top: 5px;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 30;
}

.navbar-flex {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.navbar-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navbar-container ul a {
    color: black;
    font-size: 1.5vw;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

input::placeholder {
    font-size: 1.5vw;
    text-align: center;
}

.search-input {
    text-align: center;
    font-size: 1.5vw;
    width: 60vw;
    outline: none;
    border: none;
}


/*-- For Cart --*/

.cart-btn {
    position: relative;
    color: black;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    font-size: 1vw;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 5px;
    border-radius: 30%;
    color: var(--mainBlack);
    font-weight: 800;
    background-color: rgba(248, 254, 231, 0.8);
}

.fa-cart-plus {
    font-size: 2.5vw;
}


/*---------- Sidenav starts here----------*/

#pinterest,
#twitter,
#instagram {
    position: fixed;
    padding: 20px 10px;
    text-decoration: none;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 2;
}

#pinterest:hover,
#twitter:hover,
#instagram:hover {
    padding-left: 100px;
}

#pinterest {
    left: -70px;
    top: 30vh;
    background: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
    z-index: 2;
}

#twitter {
    left: -55px;
    top: 40vh;
    background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

#instagram {
    left: -75px;
    top: 50vh;
    background: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
}


/*---------- Sidenav ends here----------*/


/*-------------------------- End of Navbar -------------------------------------*/


/*-------------------------- Hero Slideshow -------------------------------------*/

#carousel-slider {
    position: relative;
    top: -22px;
    max-width: 100%;
    height: auto;
    font-size: 14px;
    color: #000;
    margin-top: 100px;
}

.carousel-slider img {
    width: 100%;
    height: 100%;
}

.swiper-slide button {
    font-size: 3vw;
    z-index: 20;
}

.swiper-container {
    width: 100vw;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #864ba2;
}


/*-------------------------- End of Hero Slideshow -------------------------------------*/


/*-------------------------- Featured Items -------------------------------------*/

.products {
    padding: 0 50px;
    text-align: center;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.product-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover {
    color: var(--mainWhite);
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product {
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    margin: 10px;
}

.product-img {
    display: block;
    width: 250px;
    padding: 10px;
    transition: var(--mainTransition);
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--mainBlack);
    text-align: center;
}

.btn-2 {
    display: none;
}


/*-------------------------- End of Featured Items -------------------------------------*/


/*-------------------------- Contacts and About  -------------------------------------*/

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    border: rgba(0, 0, 0, 0.3) 2px solid;
    padding: 40px;
}

#about {
    text-align: justify;
    max-width: 600px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.input,
textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin: 5px;
    width: 35vw;
    min-height: 2px;
}


/*-------------------------- End of Contacts and About  -------------------------------------*/