:root {
    --primaryColor: rgb(135, 206, 235);
    --mainWhite: #ffffff;
    --mainBlack: #222222;
    --mainGrey: #ececec;
    --mainSpacing: .1rem;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

li {
    list-style: none;
}

.button {
    background-color: #ffbbad;
    font-size: 1.5vw;
    width: auto;
    padding: 10px;
    outline: none;
    border: none;
}

.fa,
.fas,
.fab {
    cursor: pointer;
    font-size: 2vw;
    color: rgba(0, 0, 0, .7);
}


/*-------------------------- Navbar -------------------------------------*/

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8d8bb;
    padding: 5px;
}

.header {
    padding: 5px;
    background: #b1a7d1;
    height: 5vh;
    color: #f1f1f1;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 30;
}

.navbar-flex {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.navbar-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo {
    width: 12vw;
    z-index: 1;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input::placeholder {
    font-size: 1.5vw;
    text-align: center;
}

.search-input {
    text-align: center;
    font-size: 1.5vw;
    padding: .6vw;
    width: 60vw;
    outline: none;
    border: none;
}


/*-- For Cart --*/

.cart-btn {
    position: relative;
    color: black;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    font-size: 1vw;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: .5vw;
    border-radius: 30%;
    color: var(--mainWhite);
    background-color: rgba(248, 254, 231, 0.8);
}


/*---------- Sidenav starts here----------*/

#pinterest,
#twitter,
#instagram {
    position: fixed;
    padding: 20px 10px;
    text-decoration: none;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 2;
}

#pinterest:hover,
#twitter:hover,
#instagram:hover {
    padding-left: 100px;
}

#pinterest {
    left: -70px;
    top: 30vh;
    background: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
    z-index: 2;
}

#twitter {
    left: -55px;
    top: 40vh;
    background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

#instagram {
    left: -75px;
    top: 50vh;
    background: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
}


/*---------- Sidenav ends here----------*/


/*-------------------------- End of Navbar -------------------------------------*/


/*-------------------------- Hero Slideshow -------------------------------------*/

#carousel-slider {
    position: relative;
    max-width: 100%;
    height: auto;
    font-size: 14px;
    color: #000;
    margin-top: 100px;
    padding: 0;
    border-bottom: rgba(0, 0, 0, 0.3) 2px solid;
}

#carousel-slider .image-1 {
    background: url(https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

#carousel-slider .image-2 {
    background-image: url(/images/pet-products.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

#carousel-slider .image-3 {
    background: url(https://images.pexels.com/photos/4148861/pexels-photo-4148861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

#carousel-slider .image-4 {
    background: url(https://images.pexels.com/photos/39317/chihuahua-dog-puppy-cute-39317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

#carousel-slider .image-5 {
    background: url(https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

#carousel-slider .image-6 {
    background: url(https://images.pexels.com/photos/1643456/pexels-photo-1643456.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.image-3 .btn a {
    font-size: 4rem;
    color: var(--mainBlack);
    text-decoration: none;
}

.image-3 p {
    font-size: 4rem;
    background-color: rgba(241, 239, 239, 0.5);
}

.swiper-container {
    max-width: 100%;
    height: 90vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
}


/*-------------------------- End of Hero Slideshow -------------------------------------*/


/*-------------------------- Featured Items -------------------------------------*/

.products {
    padding: 4rem 0;
    text-align: center;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.product-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover {
    color: var(--mainWhite);
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product {
    background: var(--mainWhite);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product h3 {
    font-size: 2rem;
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
}


/*-------------------------- End of Featured Items -------------------------------------*/


/*-------------------------- Contacts and About  -------------------------------------*/

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    border: rgba(0, 0, 0, 0.3) 2px solid;
    padding: 20px;
}

#about {
    text-align: justify;
    max-width: 600px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin: 5px;
    width: 400px;
    min-height: 2px;
}


/*-------------------------- End of Contacts and About  -------------------------------------*/